svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 360 504', enable-background='new 0 0 360 504', xml:space='preserve')
  g
    path(d='M17.3,271.5c0,0.5,0,0.5,0,0.9C17.3,271.9,17.3,271.9,17.3,271.5z')
    | &#x9;
    path(d='M17.3,271C17.3,271,17.3,271.5,17.3,271C17.3,271.5,17.3,271.5,17.3,271z')
    | &#x9;
    path(d='M157.6,237.8h-7.4l0,0c-12.5-31.8-41.5-24.5-58.1,0c-17.1,25.4-41.5,54.9-74.3,33.7\
    c6.9,102.4,162.4,69.2,135.2-24.9L157.6,237.8z M131.7,283.9c3.2,26.8-28.6,40.1-50.8,39.7c-19.4-0.9-31.8-12.9-43.8-26.3l0,0l0,0\
    c0,0.5,0.5,0.5,0.5,0.5s0,0,0.5,0.5c0.5,0.5,0.5,0.5,0.9,0.9c0.5,0.5,0.5,0.5,0.5,0.5l0,0l-0.5-0.5c0-0.5-0.5-0.5-0.9-0.9\
    c0,0,0,0-0.5-0.5c-0.5-0.5-0.5-0.5-0.5-0.5l0,0l0,0c24.9,5.1,38.8-6.5,55.4-23.1C105.9,260.4,129,262.7,131.7,283.9z')
    | &#x9;
    path(d='M37.1,296.9C37.1,296.9,37.1,297.3,37.1,296.9C37.1,297.3,37.1,296.9,37.1,296.9z')
    | &#x9;
    path(d='M37.1,296.9L37.1,296.9L37.1,296.9z')
    | &#x9;
    path(d='M37.1,297.3l0.5,0.5C37.6,297.8,37.6,297.3,37.1,297.3z')
    | &#x9;
    path(d='M38.1,298.2c0.5,0.5,0.5,0.5,0.9,0.9C38.5,298.7,38.5,298.2,38.1,298.2z')
    | &#x9;
    path(d='M38.1,297.8L38.1,297.8L38.1,297.8z')
    | &#x9;
    path(d='M39.5,299.6L39.5,299.6L39.5,299.6z')
    | &#x9;
    path(d='M39,298.7c0.5,0.5,0.5,0.5,0.5,0.5C39.5,299.6,39,299.2,39,298.7z')
  g
    path(d='M331.5,271.5c0,0.5,0,0.5,0,0.9C331.5,271.9,331.5,271.9,331.5,271.5z')
    | &#x9;
    path(d='M331.5,271C331.5,271,331.5,271.5,331.5,271C331.5,271.5,331.5,271.5,331.5,271z')
    | &#x9;
    path(d='M196.3,246.1c-26.8,94.6,128.7,127.8,135.2,24.9c-33.2,21.2-57.2-7.8-74.3-33.7\
    c-16.6-24.5-45.7-31.8-58.1,0l0,0h-7.4L196.3,246.1z M256.8,274.2c16.6,16.6,30.5,28.1,55.4,23.1l0,0l0,0l-0.5,0.5c0,0,0,0-0.5,0.5\
    c-0.5,0.5-0.5,0.5-0.9,0.9c-0.5,0.5-0.5,0.5-0.5,0.5l0,0l0.5-0.5c0,0,0.5-0.5,0.9-0.9c0,0,0,0,0.5-0.5l0.5-0.5l0,0l0,0\
    c-12,13.8-24,25.8-43.8,26.3c-22.1,0.9-53.5-12.9-50.8-39.7C219.9,262.7,242.9,260.4,256.8,274.2z')
    | &#x9;
    path(d='M311.7,296.9C311.7,296.9,311.7,297.3,311.7,296.9C311.7,297.3,311.7,296.9,311.7,296.9z')
    | &#x9;
    path(d='M311.7,296.9L311.7,296.9L311.7,296.9z')
    | &#x9;
    path(d='M311.7,297.3l-0.5,0.5L311.7,297.3z')
    | &#x9;
    path(d='M310.8,298.2c-0.5,0.5-0.5,0.5-0.9,0.9C310.3,298.7,310.8,298.2,310.8,298.2z')
    | &#x9;
    path(d='M311.2,297.8C311.2,297.8,310.8,297.8,311.2,297.8C310.8,297.8,311.2,297.8,311.2,297.8z')
    | &#x9;
    path(d='M309.4,299.6L309.4,299.6L309.4,299.6z')
    | &#x9;
    path(d='M310.3,298.7c-0.5,0.5-0.5,0.5-0.5,0.5C309.8,299.6,309.8,299.2,310.3,298.7z')
  path(d='M199.1,150.6c-8.8-3.7-18.9-0.9-24.5,6.9c-5.5-7.8-15.7-10.6-24.5-6.9c-10.2,4.6-14.8,16.1-10.6,26.3\
  c4.6,10.2,34.1,29.5,34.6,29.5s30.5-19.4,34.6-29.5C213.9,166.7,209.3,155.2,199.1,150.6z')
